// Mixin such as grouping a CSS Declarations. And here, an example for border-radius.

@mixin border-radius($radius)
{
    -webkit-border-radius:$radius;
    -moz-border-radius:$radius;
    -ms-border-radius:$radius;
    border-radius:$radius;
}